
@{
    Layout = null;
}
@using DTTSG_Model

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>排行榜</title>
    <link rel="stylesheet" href="~/lib/layui-v2.5.5/css/layui.css" media="all">
    <style>
        * {
            text-align: center !important;
        }
        .layui-row div {
            padding: 20px !important;
        }
    </style>
</head>
<body>
    <div class="layui-container layui-row">
        <div class="layui-col-md6 layui-col-xs12">
            <h1 style="color:gray">图书被借次数榜</h1><br />
            <table  class="layui-table" lay-even="" lay-skin="row">
                <colgroup>
                    <col width="70%">
                    <col width="30%">
                </colgroup>
                <thead>
                    <tr>
                        <th>图书名</th>
                        <th>作者</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        foreach (BookInfo item in ViewBag.bookList)
                        {
                            <tr>
                                <td><a href="/Book/BookInfo?bookId=@item.BookId">@item.BookName</a></td>
                                <td>@item.BookAuthor</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
        <div class="layui-col-md6 layui-col-xs12">
            <h1 style="color:gray">图书借阅数量榜</h1><br />
            <table class="layui-table" lay-even="" lay-skin="row">
                <thead>
                    <tr>
                        <th>借阅人</th>
                    </tr>
                </thead>
                <tbody>
                    @{foreach (UserInfo item in ViewBag.userList)
                        {
                            <tr>
                                <td>@item.UserName</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>
