
@{
    Layout = null;
}
@using DTTSG_Model
@using DTTSG_Common
@{Pager<ForwardInfo> forwards = ViewBag.Reservation as Pager<ForwardInfo>; }
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ForwardList</title>
</head>
<body>
    <div>
        @if (forwards.DataCount != 0)
        {

            foreach (var item in forwards.InfoList)
            {
                @item.BookInfo.BookName
            }
        }

    </div>
</body>
</html>
