
@{
    Layout = null;
}
@using DTTSG_Model;
@{List<UserCollect> collectList = ViewBag.CollectList as List<UserCollect>; }
    <!DOCTYPE html>

    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>CollectList</title>
    </head>
    <body>
        <div>
            @foreach (var item in collectList)
            {
                @item.BookInfo.BookName
            };
        </div>
    </body>
</html>
