
@{
    Layout = null;
}
@using DTTSG_Model
@using DTTSG_Common
@*@{Pager<BookInfo> page = ViewBag.BookListPages as Pager<BookInfo>;}*@
@{List<BookType> types = ViewBag.BookTypeList as List<BookType>;}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>图书列表页</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!--<link rel="stylesheet" href="~/lib/layui-v2.5.5/css/layui.css" media="all">-->
    @Styles.Render("~/BookList_Css")
</head>

<body>
    <fieldset class="layui-elem-field layui-field-title layui-hide-xs" style="margin-top: 20px;">
        <legend>本机图书列表</legend>
    </fieldset>

    <div class="layui-row">
        <div class="left-container layui-col-md2 layui-hide-xs" id="head">
            <ul class="layui-nav layui-nav-tree layui-left-nav-tree layui-this layui-bg-cyan" id="multi_module_0">
                <li class="layui-nav-item menu-li layui-nav-itemed" style="padding-top:15px">
                    <a href="javascript:;"> <i class="fa fa-snowflake-o"></i> <span class="layui-left-nav">图书类型</span><span class="layui-nav-more"></span></a>
                    <dl class="layui-nav-child " id="types">
                        @{
                            foreach (BookType item in types)
                            {
                                <dd class="menu-dd  ">
                                    <a href="javascript:;" onclick="ChangeTypeid(@item.B_TypeId)" name="B_TypeId" target="_self"> <i class="fa fa-bar-chart-o"></i> <span class="layui-left-nav"> @item.B_TypeName</span></a>
                                </dd>
                            }
                        }
                    </dl>
                </li>
                <span class="layui-nav-bar"></span>
            </ul>
        </div>

        <div class="layui-col-md10 content-container" id="headdiv">
            <div class="layui-row">
                <ul id="LAY_demo1"></ul>
            </div>
        </div>
    </div>

    @*<script src="~/lib/layui-v2.5.5/layui.js" charset="utf-8"></script>*@
    <!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
    @Scripts.Render("~/ListInfo_Js", "~/BookList_Js")
    <script>
        var typeid = 0;
        function ChangeTypeid(ctypeid) {
            typeid = ctypeid;
            CData();
        }

        layui.use(['flow', 'table'], function () {
            var flow = layui.flow;

            window.CData = function ChangeData() {
                $("#LAY_demo1").html("");
                console.log("a");
                flow.load({
                    elem: '#LAY_demo1' //流加载容器
                    //, scrollElem: '#LAY_demo1' //滚动条所在元素，一般不用填，此处只是演示需要。
                    , isLazyimg: true //图片懒加载
                    , done: function (page, next) { //执行下一页的回调
                        var lis = [];
                        var pagecount = 0;

                        $.get('/Book/GetBookPagerData?pageindex=' + page + '&B_TypeId=' + typeid, function (data) {
                            layui.each(data.InfoList, function (index, item) {
                                //执行下一页渲染，第二参数为：满足“加载更多”的条件，即后面仍有分页
                                lis.push('<a href="/Book/BookInfo?BookId=' + item.BookId + '" name="BookId">' +
                                    '<div class= "layui-col-md3 layui-col-xs12 layui-col-sm6 model-container"><div class="img-container">' +
                                    '<img lay-src="' + item.ImageInfo.ImageLink + '" /></div><div class="text-container">' +
                                    '<center><h2><b>' + item.BookName + '</b></h2></center></div></div></a>');
                            });
                            pagecount = data.PageCount;

                            //执行下一页渲染，第二参数为：满足“加载更多”的条件，即后面仍有分页
                            //pages为Ajax返回的总页数，只有当前页小于总页数的情况下，才会继续出现加载更多

                            next(lis.join(''), page < pagecount);
                        });
                    }
                });
            }

            CData();
        });
    </script>

</body>
</html>