
@{
    Layout = null;
}

@model DTTSG_Model.BookInfo
@using DTTSG_Model

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>图书详情</title>
    <link rel="stylesheet" href="~/lib/layui-v2.5.5/css/layui.css" media="all">
</head>
<body>
    <div style="margin:30px">
        <a href="javascript:;" onclick="window.history.back(); //返回上一页" style="font-size:16px;"><< 返回上一页</a>
    </div>

    <div class="layui-container">
        <div class="layui-row">
            <div class="layui-col-md6">
                <img src="@Model.ImageInfo.ImageLink" />
            </div>
            <div class="layui-col-md6" style="margin-bottom:100px">
                <br />
                <h1>图书名称：@Model.BookName</h1><br />
                <h2>状态:@Model.BookStatu.B_StatuName</h2>
                <h2>图书类型:@Model.BookType.B_TypeName</h2><br />
                <h2>出版社:@Model.BookPublic</h2><br />
                <h2>作者:@Model.BookAuthor</h2><br />
                <h2>出版时间:@Model.BookPubtime.ToLongDateString()</h2><br />
                <h2>存书地点:@Model.MechanInfo.MechanAddress</h2><br />
                <h1><strong>$@Model.BookPrice</strong></h1><br />
                @{
                    if (string.IsNullOrWhiteSpace((Session["User"] as UserInfo).OpenId))
                    {
                        <a href="javascript:;" id="queding" class="layui-btn layui-btn-normal layui-btn-lg">借阅</a>
                    }
                    else
                    {
                        <a href="javascript:;" id="reward" class="layui-btn layui-btn-normal layui-btn-lg">预约</a>
                    }
                }
                <a href="javascript:;" class="layui-btn layui-btn-normal layui-btn-lg" id="collect">收藏</a>
            </div>
        </div>
    </div>
    <script src="~/lib/layui-v2.5.5/layui.js"></script>

    <script>
        layui.use(['layer'], function () {
            var layer = layui.layer,
                $ = layui.jquery;

            //电脑端确认借阅
            function confirms(bookId) {
                $.ajax({
                    url: "/Book/BorrowBook",
                    data: { "bookId": bookId },
                    dataType: "json",
                    type: "post",
                    success: function (data) {
                        if (data.Status == 1) {
                            //alert(data);
                            layer.msg(data.Msg, {
                                icon: 1,
                                time: 2000 //2秒关闭（如果不配置，默认是3秒）
                            }, function () {
                                window.location = '/Borrow/BorrowList';
                            });
                        }
                        else {
                            layer.msg("未知问题,请联系管理员!", { icon: 3, time: 2000 });   //其他问题
                        }
                    }
                }); //ajax结束
            }

            //手机端确认预约
            function reward(bookId) {
                $.ajax({
                    url: "/Forward/BorrowBook",
                    data: { "bookId": bookId },
                    dataType: "json",
                    type: "post",
                    success: function (data) {
                        if (data.Status == 1) {
                            //alert(data);
                            layer.msg(data.Msg, {
                                icon: 1,
                                time: 2000 //2秒关闭（如果不配置，默认是3秒）
                            }, function () {
                                window.location = '/Forward/ForwardList';
                            });
                        }
                        else {
                            layer.msg("未知问题,请联系管理员!", { icon: 3, time: 2000 });   //其他问题
                        }
                    }
                }); //ajax结束
            }

            $("#queding").click(function () {
                confirms(@Model.BookId);
            });

            $("#reward").click(function () {
                reward(@Model.BookId);
            }); 

            $("#collect").click(function () {
                $.ajax({
                    url: "/Collect/AddCollect",
                    data: { "bookId": @Model.BookId },
                    dataType: "json",
                    type: "post",
                    success: function (data) {
                        if (data.Status == 1) {
                            //alert(data);
                            layer.msg(data.Msg, {
                                icon: 1,
                                time: 2000 //2秒关闭（如果不配置，默认是3秒）
                            }, function () {
                                window.location = '/Collect/CollectList';
                            });
                        }
                        else {
                            layer.msg("未知问题,请联系管理员!", { icon: 3, time: 2000 });   //其他问题
                        }
                    }
                }); //ajax结束
            });
        });
    </script>
</body>
</html>
